doctype
html
  head
    title #{title} - My Home Page
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   header
     h1 Welcome to Football Soothsayer
   .mycontent
    .leftpart
    .rightpart
     .top
      p 
     .middle
     .bottom
      form(name="oneonone",class='form1',id="form1",method="get",action="/oneonone")
      form(name="groups",class='form2',id='form2',method="get",action="/groups")
      button(class="btn1", type="submit",form="form1").
       One-to-One
      button(class="btn2", type="submit",form="form2").
       All Groups
   footer
     p Created by Amandeep Singh and Margi Patel
     p University of Southern California 
     
           