doctype
html
  head
    title #{title} - World Cup SoothSayer
    script(type='text/javascript').
     function selectedCountryA()

      { 
        var e = document.getElementById("teamA");
        var strCountry = e.options[e.selectedIndex].value;
        
        var im1 = document.getElementById("imgA");
        im1.src = strCountry;
        //alert(im1);

       // global.teamA = strCountry;
        //return strCountry;
      } 
      function selectedCountryB()
      { 
        var e = document.getElementById("teamB");
        var strCountry = e.options[e.selectedIndex].value;
        
        var im1 = document.getElementById("imgB");
        im1.src = strCountry;
        //alert(im1);

       // global.teamA = strCountry;
        //return strCountry;
      }

      function Reset()
      {
        document.getElementById("teamA").selectedIndex = "0";
        document.getElementById("teamB").selectedIndex = "0";
      } 
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(onload = "Reset()")
   header
     h1 One on One
     
    .onetooneteam
      .dropdownleftlabel Team A
      
      .dropdownleft
        <select id="teamA" onChange = "selectedCountryA()">
        <option value = "-1">Select</option>
        <option value = "/images/country/alg.jpg">ALGERIA</option>
        <option value = "/images/country/arg.jpg">ARGENTINA</option>
        <option value = "/images/country/aus.jpg">AUSTRALIA</option>
        <option value = "/images/country/bel.jpg">BELGIUM</option>
        <option value = "/images/country/bih.jpg">BOSNIA-HERZEGOVINA</option>
        <option value = "/images/country/bra.jpg">BRAZIL</option>
        <option value = "/images/country/cmr.jpg">CAMEROON</option>
        <option value = "/images/country/chi.jpg">CHILE</option>
        <option value = "/images/country/col.jpg">COLOMBIA</option>
        <option value = "/images/country/crc.jpg">COSTA RICA</option>
        <option value = "/images/country/civ.jpg">IVORY COAST</option>
        <option value = "/images/country/cro.jpg">CROATIA</option>
        <option value = "/images/country/ecu.jpg">ECUADOR</option>
        <option value = "/images/country/eng.jpg">ENGLAND</option>
        <option value = "/images/country/fra.jpg">FRANCE</option>
        <option value = "/images/country/ger.jpg">GERMANY</option>
        <option value = "/images/country/gha.jpg">GHANA</option>
        <option value = "/images/country/gre.jpg">GREECE</option>
        <option value = "/images/country/hon.jpg">HONDURAS</option>
        <option value = "/images/country/irn.jpg">IRAN</option>
        <option value = "/images/country/ita.jpg">ITALY</option>
        <option value = "/images/country/jpn.jpg">JAPAN</option>
        <option value = "/images/country/kor.jpg">SOUTH KOREA</option>
        <option value = "/images/country/mex.jpg">MEXICO</option>
        <option value = "/images/country/ned.jpg">NETHERLANDS</option>
        <option value = "/images/country/nga.jpg">NIGERIA</option>
        <option value = "/images/country/por.jpg">PORTUGAL</option>
        <option value = "/images/country/rus.jpg">RUSSIA</option>
        <option value = "/images/country/esp.jpg">SPAIN</option>
        <option value = "/images/country/sui.jpg">SWITZERLAND</option>
        <option value = "/images/country/uru.jpg">URUGUAY</option>
        <option value = "/images/country/usa.jpg">UNITED STATES</option>
        </select>
      .dropdownrightlabel Team B
      
      .dropdownright
        <select id="teamB" onChange = "selectedCountryB()">
        <option value = "-1">Select</option>
        <option value = "/images/country/alg.jpg">ALGERIA</option>
        <option value = "/images/country/arg.jpg">ARGENTINA</option>
        <option value = "/images/country/aus.jpg">AUSTRALIA</option>
        <option value = "/images/country/bel.jpg">BELGIUM</option>
        <option value = "/images/country/bih.jpg">BOSNIA-HERZEGOVINA</option>
        <option value = "/images/country/bra.jpg">BRAZIL</option>
        <option value = "/images/country/cmr.jpg">CAMEROON</option>
        <option value = "/images/country/chi.jpg">CHILE</option>
        <option value = "/images/country/col.jpg">COLOMBIA</option>
        <option value = "/images/country/crc.jpg">COSTA RICA</option>
        <option value = "/images/country/civ.jpg">IVORY COAST</option>
        <option value = "/images/country/cro.jpg">CROATIA</option>
        <option value = "/images/country/ecu.jpg">ECUADOR</option>
        <option value = "/images/country/eng.jpg">ENGLAND</option>
        <option value = "/images/country/fra.jpg">FRANCE</option>
        <option value = "/images/country/ger.jpg">GERMANY</option>
        <option value = "/images/country/gha.jpg">GHANA</option>
        <option value = "/images/country/gre.jpg">GREECE</option>
        <option value = "/images/country/hon.jpg">HONDURAS</option>
        <option value = "/images/country/irn.jpg">IRAN</option>
        <option value = "/images/country/ita.jpg">ITALY</option>
        <option value = "/images/country/jpn.jpg">JAPAN</option>
        <option value = "/images/country/kor.jpg">SOUTH KOREA</option>
        <option value = "/images/country/mex.jpg">MEXICO</option>
        <option value = "/images/country/ned.jpg">NETHERLANDS</option>
        <option value = "/images/country/nga.jpg">NIGERIA</option>
        <option value = "/images/country/por.jpg">PORTUGAL</option>
        <option value = "/images/country/rus.jpg">RUSSIA</option>
        <option value = "/images/country/esp.jpg">SPAIN</option>
        <option value = "/images/country/sui.jpg">SWITZERLAND</option>
        <option value = "/images/country/uru.jpg">URUGUAY</option>
        <option value = "/images/country/usa.jpg">UNITED STATES</option>
        </select>
      versus v/s
     .leftteam
      img(id='imgA',src= '/images/country/question.jpg')
     .rightteam  
      img(id = 'imgB',src='/images/country/question.jpg')
   footer
     p Created by Amandeep Singh and Margi Patel
     p University of Southern California 


 
           