doctype
html
  head
    title #{title} User Inputs
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
   header
     h1 Welcome to Football Soothsayer
   .uimycontent
    .uileftpart   
   footer
     p Created by Amandeep Singh and Margi Patel
     p University of Southern California 
     
           