/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('http://fonts.googleapis.com/css?family=Quicksand')

/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #fa5b4d
background-color = yellow

body
  font-family 'Georgia'
  color black
    
header
  font-family 'Quicksand'
  color #fff
  font-size 25px
  text-align center
  width 100% 
  height 40px
  padding-top 10px
  background-color black
  border-bottom 1px solid darken(main-color, 30%)
  border-top 1px dotted #ccc
  text-shadow 0px -1px 0px darken(main-color, 30%)

.container
  width 0px
  padding 0px 0px 0px 0px
  margin 0px 0px 0px 0px
  overflow hidden

.main-content
  background-color background-color

  p
    margin-bottom 20px
    color red
    font-family 'Quicksand'

footer
 bottom 0
 position absolute
 width 100%
 height 55px
 border-top 1px dotted #ccc
 text-align center
 font-size 15px
 color #fff
 background-color black
 
 p
  padding-top 10px
  font-family 'Quicksand'
  
.mycontent
 position absolute
 width 100%
 top 52px
 bottom 10px
 
.leftpart
 background url('/images/a.jpg') no-repeat center center
 background-size cover
 position absolute
 width 650px
 height 100%
 overflow auto
 
.rightpart
 background-color white
 padding-left 650px
 height 100%
 overflow auto
 
 .top
  padding-top 20px
  padding-left 250px
  font-size 28px
  font-style bold
  
  p
   color red
  
 .middle
  background url('/images/fb1.jpg') no-repeat center center
  width 450px
  height 200px
  padding-top 250px
  padding-left 200px

 .bottom
  padding-top 0px
  padding-left 150px
  width 450px
  height 100px
  
  .form1
   display inline
   
  .btn1
   width 180px
   height 40px
   margin-right 10px
   
  .form2 
   display inline
   
  .btn2
   width 180px
   height 40px
  
   
.uimycontent
 background-color white
 position absolute
 width 650px
 height 100%
 overflow auto
 
.uileftpart
 position absolute
 width 650px
 height 100%
 overflow auto


.onetooneteam
  background-color black
  position absolute
  width 100%
  height 100%
  color white

 .buttonprediction
  position absolute
  width 100px
  height 40px
  top 540px
  left 650px
  

.dropdownleft
  position absolute
  top 140px
  left 250px

.dropdownleftlabel
  position absolute
  top 40px
  left 200px
  color blue
  font-size 80px

.dropdownright
  position absolute
  top 140px
  left 1080px

.dropdownrightlabel
  position absolute
  top 40px
  left 1010px
  color blue
  font-size 80px

versus
  position absolute
  top 250px
  left 580px
  color red
  font-size 150px
  text-align center

.leftteam
  position absolute
  top 250px
  left 150px
  
 
.rightteam
  position absolute
  top 250px
  right 150px
 
.groupblock
  float left
  height 60px
  margin 10px
  width 150px

.people_thumb img
  margin 10px

 .r1c1
   position absolute
   left 200px
   top 70px
.r1c2
   position absolute
   left 500px
   top 70px

.r1c3
   position absolute
   left 800px
   top 70px

.r1c4
   position absolute
   left 1100px
   top 70px

.r2c1
   position absolute
   left 200px
   top 120px
.r2c2
   position absolute
   left 500px
   top 120px

.r2c3
   position absolute
   left 800px
   top 120px

.r2c4
   position absolute
   left 1100px
   top 120px

.r3c1
   position absolute
   left 200px
   top 170px
   
.tb1   
 width 60%
 border 1px dotted yellow
 background-color green
 margin-top 5px
 
.r3c2
   position absolute
   left 500px
   top 170px

.r3c3
   position absolute
   left 800px
   top 170px

.r3c4
   position absolute
   left 1100px
   top 170px

.r4c1
   position absolute
   left 200px
   top 220px
.r4c2
   position absolute
   left 500px
   top 220px

.r4c3
   position absolute
   left 800px
   top 220px

.r4c4
   position absolute
   left 1100px
   top 220px  
  
.people_thumb
  height 250px

.people_thumb img
  display block
  height 100px
  margin auto
  overflow hidden
  width auto

.thumbnail
  border-radius 2px

.thumbnail h5
  text-align center
  word-wrap break-word

.thumbnail p
  text-align center
  
  
 .outertable
  width 100%
  padding-top 40px
  padding-left 20px

 .rctb1
  padding 10px 10px 10px 10px
  
.outertablerows
 margin 10px 10px 10px 10px  
 
 .pararctb1
  width 110px
 
 .colheadstyletd
  padding-top 40px
  
  a
   color red

.predictdiv
  background-color black
  position absolute
  width 100%
  height 100%
  color white

.predictTable1
   width 100%
   height 90px
   padding-top 10px
   padding-left 20px
  // border 1px dotted #ccc
 
.predictTable1row
  margin 5px 5px 5px 5px 

.predictTable1td
 padding-left 150px
  
.abc
 margin-left 5px
 
.INNERTABLETD
 padding 3px 3px 3px 5px 
     
.kpdivleft
 padding-top 20px 
 width 600px
 height 100%  
 position absolute 
 overflow auto

 .keyPlayersA    
  width 300px
  height 180px
  padding-top 10px
  padding-left 20px
  padding-right 20px
  //border 1px dotted #ccc
  
.kpdivright
 width 320px
 height 100px
 padding-left 900px
 padding-top 20px 

 .keyPlayersB
  width 50px
  height 150px
  padding-top 10px
  //border 1px dotted #ccc
  
.winningteamdiv
 width 100px
 height 60px
 padding-left 490px
 padding-top 60px 
 position absolute 
 
 .winninteamtable
  width 60px
  height 40px
  padding-top 10px
  //border 1px dotted #ccc
  
.colspace
 padding-left 10px
 
.centercaption
 text-align center 
 
.centerwinning
 text-align center
 font-size 18px
 
.centercaptionwinning
 text-align center 
 font-size 18px